<%= form_with(model: uniforme, local: true) do |form| %>
  <% if uniforme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(uniforme.errors.count, "error") %> prohibited this uniforme from being saved:</h2>

      <ul>
      <% uniforme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item %>
    <%= form.text_field :item %>
  </div>

  <div class="field">
    <%= form.label :tamanho %>
    <%= form.text_field :tamanho %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade %>
  </div>

  <div class="field">
    <%= form.label :validade %>
    <%= form.text_field :validade %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
